[Unit]
Description=Mount for Google Drive

[Mount]
Type=rclone
What=gdrive:
Where=/home/franco-ruggeri/drives/gdrive
Options=rw,_netdev,args2env,vfs-cache-mode=full,config=/home/franco-ruggeri/.config/rclone/rclone.conf,cache-dir=/home/franco-ruggeri/.cache/rclone/gdrive

[Install]
WantedBy=default.target
