[Unit]
Description=Mount for OneDrive KTH

[Mount]
Type=rclone
What=onedrive-kth:
Where=/home/franco-ruggeri/drives/onedrive-kth
Options=rw,_netdev,args2env,vfs-cache-mode=full,config=/home/franco-ruggeri/.config/rclone/rclone.conf,cache-dir=/home/franco-ruggeri/.cache/rclone/onedrive

[Install]
WantedBy=default.target
